.category{
     display: flex;

     height: 350px;
     width: 250px;
     background-color: white;
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
     flex-direction: column;
     justify-content: space-between;
     overflow: hidden;
     border-radius: 8px;
}
.category img {
     width: 100%;
     object-fit: contain;
     max-height: 250px;
     padding: 0px 10px;
}



.category a {
     text-decoration: none;
     color: rgb(35,35,35)
}

.category h2,
.category p{
padding: 5px;
margin-left: 15px;
}

.category p {
     font-size: 12px;
     font-weight: bold;
     color: rgb(9,132,209);
}

.category_container{
     position: relative;
     margin-top: -10%;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     place-items: center;
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width: 992px) {
  .category_container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -5%;
  }
}

/* Small devices (phones, 576px and down) */
@media screen and (max-width: 576px) {
  .category_container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }

  .category {
    width: 90%;
    height: auto;
  }

  .category img {
    max-height: 200px;
  }
}
